*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth; 
}

body {
  font-family: Poppins, sans-serif;
  cursor: url("./Assets/Vector.png") , auto;
  background: linear-gradient(180deg, #ffffff, #fff, #00aaff);
  color: #333;
  scroll-behavior: smooth;
}

body.light {
  background-color: #e6e6e6;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  flex: 2;
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 2px;
  line-height: 1.8;
}

nav ul li {
  flex: 1;
  display: inline-block;
  line-height: 1.8;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 8px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #e6b800;
  font-weight: bold;
}

.toggleCheck {
  text-align: center;
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 208vh;
}
.toggle {
  position: relative;
  display: inline-block;

  width: 60px;
  height: 34px;
}     
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0af;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5b528d;
}
input:checked + .slider:before {
  transform: translateX(26px);
}

.logo {
  flex: 1;
  text-align: center;
  font-size: 24px;
  color: #3c5a99;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px auto;
  perspective: 1000px;
}

.card-front img {
  width: 50%;
  height: 50%;
}

.card-back img {
  width: 70%;
  height: 50%;
  border-radius: 50%;
  border: 2px solid#ecf0f1;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-front {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-back {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transform: rotateY(180deg);
}

.card p {
  font-size: small;
  color: #333;
}
.intro {
  margin-top: 20px;
  text-align: left;
}

.intro h2 {
  font-size: 36px;
  color: #333;
}

.intro p {
  margin: 22px 0;
  color: #666;
}

.intro span {
  color: #00aaff;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button-cv {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  line-height: 1.8;
  text-align: center;
}

.button-cv:hover {
  background-color: #1d1c1c;
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.button-hire{
    padding: 10px 20px;
    border-radius: 10px;
    color: #e6b800;
    text-decoration: none;
    border: 2px solid #e6b800;
    height: 50px;
    width: 120px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    line-height: 1.8;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
  }
  
.button-hire:hover{
    color: #fff;
  }
  
.button-hire::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #e6b800;
    z-index: -1;
    transition: all 0.5s;
  }

  .button-hire:hover::before {
    width: 200px;
  }
  

/* Skills Section / Bagian Skill */
.skills-section {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.skills-section h2 {
  font-size: 28px;
  margin: 0 0 10px;
}

.skills-section p {
  font-size: 16px;
  color: #555;
  margin: 0 0 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;
}

.skill-card {
  display: flex;
  font-weight: bold;
  align-items: center;
  position: relative;
  background-color: #fff;
  border: 2px solid gold;
  border-radius: 8px;
  padding: 20px 10px;
  line-height: 1.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 335px;
  height: 84px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  font-size: 20px;
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.skill-card::before,
.skill-card::after {
  content: '';
  position: absolute;
  top: -0%;
  left: -0%;
  width: 200%;
  height: 200%;
  transform: rotate(0deg);
  transition: transform 0.8s ease;
  opacity: 0;
}

.skill-card:hover::before {
  transform: rotate(45deg);
  opacity: 1;
}

.skill-card[data-skill="HTML"]::after {
  background-color: rgba(255, 102, 0, 0.3);
}

.skill-card[data-skill="CSS"]::after {
  background-color: rgba(0, 128, 255, 0.3);
}

.skill-card[data-skill="JavaScript"]::after {
  background-color: rgba(247, 223, 30, 0.3);
}
.skill-card[data-skill="Illustrator"]::after {
  background-color: rgba(255, 102, 0, 0.3);
}

.skill-card[data-skill="Figma"]::after {
  background-color: rgba(255, 69, 133, 0.3);
}

.skill-card[data-skill="Photoshop"]::after {
  background-color: rgba(0, 114, 187, 0.3);
}

.skill-card:hover::after {
  transform: rotate(120deg);
  opacity: 0.5;
}

.skill-card:hover .skill-logo {
  transform: scale(1.2);
  filter: none;
}

.skill-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: grayscale(100%);
}

.social-icons a {
  gap: 10px;
  color: #333;
  font-size: 24px;
  margin-left: 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #e6b800;
}

/* Bagian Projects */

.projects-section {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.header {
  text-align: left;
  padding-bottom: 30px;
}

.header h1 {
  font-size: 28px;
  margin: 0 0 10px;
}

.header p {
  font-size: 16px;
  color: #555;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 100px;
}

.project {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 20px;
}

.project-content h2 {
  font-size: 20px;
  margin: 0 0 12px;
}

.project-content p {
  font-size: 15px;
  color: #666;
  margin: 0 0 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-icons .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-icons .icons i {
  font-size: 22px;
  color: #333;
}

.project-icons .external-link {
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
  order: -1;
}

.project-icons .external-link:hover {
  color: #007bff;
}

body.dark .project-icons .icons i {
  color: white;
}

body.dark .project-icons .external-link {
  color: white;
}


/* Bagian Contact-Me */
/* Container Utama */
.cardcntnt {
  width: 100%;
  max-width: 600px; /* Sesuaikan lebar */
  height: auto; /* Tinggi otomatis */
  margin: 10vh auto; /* Posisi di tengah (vertikal dan horizontal) */
  background: linear-gradient(45deg, #ffffff, #f9f9f9, #f0f0f0, #e0e0e0);
  border-radius: 8px;
  position: relative; /* Parent untuk posisi absolute  */
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1;
}

body.dark .cardcntnt {
  background: #011522;
  color : white;
}

body.dark .cardcntnt label {
  color: white;
}

body.dark form button {
  background-color: #000;
  color: cyan
}
/* Buletan Gimik Contact */
.tools {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

/* Kontak */
form {
  margin-top: 2rem;
}

form label {
  display: block;
  font-size: 0.9rem;
  color: black;
  text-align: left;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background: rgba(190, 184, 184, 0.2);
  color: black  ;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

form input:focus,
form textarea:focus {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 8px rgba(116, 185, 255, 0.8);
  outline: none;
}

form textarea {
  resize: none;
}

form button {
  background: #ffffff;
  color: #0984e3;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

form button:hover {
  background: #dfe6e9;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}

/* Bagian Footer */
.footer{
  box-shadow: #011522 5px 5px 8px;
  background: white;
  padding:30px 0px;
  font-family: 'Poppins', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:black;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:black;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:gray;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
}

  /* Mode, Tema Gelap / Dark Mode */
  
body.dark {
  background: linear-gradient(135deg, #0A0D1A, #1E2638, #3A4A5F);
  color: #ffffff;
}


body.dark .card {
  color: black;
}

body.dark .card-front{
  color: black;
  background-color: #000;
  border: 2px solid #ffffff;
}

body.dark .card-front img{
  color: black;
  filter: invert(100%);
}

body.dark .card-back {
  color: black;
  background-color: black;
  border: 2px solid #ffffff;
}

body.dark .card-back p {
  color: #ffffff;
}

body.dark .card-back h2 {
  color: #ffffff;
}

body.dark header {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

body.dark nav a {
  color: #ffffff;
}
body.dark .social-icons a {
  color: #ffffff;
}

body.dark .intro h2 {
  color: #000;
}

body.dark .intro p {
  color: #aaaaaa;
}

body.dark .button {
  background-color: white;
  color: #000;
}

body.dark .button-hire{
  color: #00aaff;
  text-decoration: none;
  border: 2px solid #00aaff;
  height: 50px;
  width: 120px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}

body.dark .button-hire:hover{
  color: #fff;
}

body.dark .button-hire::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #00aaff;
  z-index: -1;
  transition: all 0.5s;
}

body.dark .button-hire:hover::before {
  width: 200px;
}

body.dark .skill-card {
  color: #000;
  background-color: #011522;
  border: 2px solid gold;
}

body.dark .project {
  background-color: #011522;
}

body.dark .fa-icons {
  color: #ffffff;
}

body.dark .skills-section p{
  color: white;
}

body.dark .footer {
  background-color: #011522;
}

body.dark .footer .row {
  color: #ffffff;
}

body.dark .footer .row a{
  color: #ffffff;
}


/* Tampilkan toggle di layar mobile */
@media (max-width: 767px) {
  .toggleCheck {
      display: flex; /* Menampilkan toggle di mobile */
      position: absolute; /* Posisi bisa diatur sesuai kebutuhan */
      top: 10px; /* Atur posisi atas */
      right: 8px; /* Atur posisi kanan */
      z-index: 9999;

      
  }
}

@media (min-width: 768px) {
  .hamburger {
      display: none; /* Sembunyikan hamburger menu di desktop */
  }
}

/* Tampilan Mobile*/

@media (max-width: 768px) {
  section, .content {
    margin: 0 auto;
    padding: 15px; /* Sesuaikan padding dengan layar */
  }

  header {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .toggle {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 90px;
    margin-bottom: 20px;

  
    width: 80px;
    height: 34px;
  }     

  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  body.dark nav {
    background-color: rgba(0, 0, 0, 0.5);
  }

  body.dark header {
    background-color: transparent;
    backdrop-filter: none;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Set grid otomatis */
    gap: 20px; /* Beri jarak antar elemen */
    padding: 20px;
    justify-items: center; /* Ratakan item secara horizontal */
  }

  .card {
    margin: 20px;
    position: relative;
    left: 0;
    right: 0;
    transform: none;
  }

  .intro {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
  }

  .logo {
    position: absolute;
    font-size: 20px;
    margin-bottom: 10px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-bottom: -1px;
}

nav ul {
    /* Mengganti display: none; dengan max-height dan opacity */
    max-height: 0; /* Mulai dengan max-height 0 untuk menyembunyikan */
    opacity: 0; /* Opacity 0 untuk efek fade out */
    overflow: hidden; /* Menyembunyikan konten yang melampaui */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Efek transisi */
}

body.dark nav ul {
  background-color: rgba(30, 30, 30, 0.8); /* Warna latar belakang transparan di dark mode */
}

nav ul.active {
    max-height: 300px; /* Atur max-height saat aktif */
    opacity: 1; /* Opacity 1 untuk efek fade in */
}

nav ul li {
    padding: 15px 0;
}

nav ul li a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

body.dark nav ul li a {
  color: #ffffff; /* Warna link di dark mode */
}

  .hero {
    flex-direction: column;
    padding: 20px;
  }

  .hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  body.dark .line {
    stroke: #fff;
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  .skill-card {
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
  }

  .skill-card p {
    display: none;
  }

  .skill-card:active p,
  .skill-card:hover p {
    font-size: 10px;
    display: block;
    background-color: transparent;
    padding: 5px;
    border-radius: 10px;
    z-index: 1;
  }

  body.dark .skill-card:active p,
  body.dark .skill-card:hover p {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .intro h1 {
  font-size: 20px;
  text-align: center;
  }

  .intro p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  }

  .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  }

  .button {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  }

  .project {
    width: 60%;
    height: auto; /* Use auto to allow the height to adjust based on content */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Optional: Add some padding or margin for better spacing */
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Ensures padding is included in the width/height */
}

  .project-content p {
    font-size: medium;
    margin: 5px;
  }

  /* Bagian Contact untuk tampilan mobile*/

  .cardcntnt {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-labels {
    margin-left: 1000px;
  }
}
